$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url('/fonts/Nunito-ItalicVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  src: url('/fonts/SourceSans3-ItalicVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: italic;
  src: url('/fonts/SourceSerif4-ItalicVariable.ttf') format('truetype');
}

:root {
  --sans-serif: 'Source Sans 3';
  --serif: 'Source Serif 4';
  --heading: 'Nunito';
  --monospace: 'JetBrains Mono';
  --line-height: 1.6;
  --border: #efefef;
  --darker-border: #dedede;
  --background: #f5f2f0;
  --theme: #690;
  --foreground: white;

  --border-width: 14px;

  --md-main-width: 7fr;
  --md-aside-width: 2fr;
}

* {
  box-sizing: border-box;
}

a {
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

body,
html {
  background-color: var(--theme);
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: clip;
  padding: 0;
}

body {
  padding: var(--border-width);
}

button[type='submit'] {
  background-color: var(--theme);
  border: 0;
  border-radius: 9px;
  color: var(--foreground);
  cursor: pointer;
  font-family: var(--heading);
  font-size: inherit;
  padding: 7px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transform: transform 0.1s ease-in;

  &:hover,
  &:focus {
    transform: scale(103%);
  }
}

input {
  border: 0;
  background: transparent;
  font-size: inherit;
  flex: 1;
  outline: none;
  padding-inline: 7px;
}

textarea {
  resize: none;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  color: var(--foreground);

  a {
    color: var(--foreground);
    text-decoration: none;
  }

  #logo {
    padding-top: 5rem;

    h1 {
      font-family: var(--heading);
      font-size: 5rem;
      letter-spacing: -5px;
      margin: 0;
      transition: 0.1s transform ease-in-out;

      @media screen and (max-width: $sm) {
        font-size: 4rem;
      }

      &:hover {
        transform: rotate(-5deg);
      }
    }
  }

  #recent {
    font-family: var(--sans-serif);
    text-align: right;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-weight: 300;
      margin: 0;
    }

    p {
      margin-top: 0;
    }
  }
}

#footer {
  background-color: var(--theme);
  color: var(--foreground);
  font-family: var(--sans-serif);
  font-size: 1.1rem;
  position: relative;

  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: var(--md-aside-width) var(--md-main-width) var(--md-aside-width);
  }

  footer {
    @media screen and (min-width: $md) {
      display: flex;
      gap: 2rem;
    }

    a {
      color: var(--foreground);
    }

    code {
      font-size: 1rem;
    }

    .subscribe {
      text-align: right;

      form {
        background-color: white;
        margin-top: 1rem;
        display: flex;
        width: 100%;
        padding: 7px;
        border-radius: 14px;

        input {
          font-family: var(--heading);
        }
      }
    }

    > div {
      padding-top: var(--border-width);
      flex: 1;

      code {
        font-family: var(--monospace);
      }

      &:nth-child(1) {
        padding-left: 2rem;
        text-align: left;
      }

      &:nth-child(2) {
        padding-right: 2rem;
        text-align: right;
      }
    }
  }
}

#post {
  background-color: var(--foreground);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 -4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;

  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: var(--md-aside-width) var(--md-main-width) var(--md-aside-width);
  }

  article,
  aside {
    background-color: var(--foreground);
    font-size: 1.2rem;

    h1,
    h2 {
      font-family: var(--sans-serif);
      font-weight: 300;

      @media screen and (max-width: $xl) {
        line-height: 1.4;
      }
    }
  }

  aside {
    &:nth-child(1) {
      text-align: right;
    }
  }

  article {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    line-height: var(--line-height);
    font-family: var(--serif);
    padding: 2rem 4rem 4rem 4rem;

    a {
      color: var(--theme);
    }

    blockquote {
      position: relative;
      margin-top: calc(1rem + 14px);

      &::before {
        font-family: "Crimson Text", cursive;
        font-size: 5rem;
        content: '“';
        position: absolute;
        top: -14px;
        left: -8px;
        line-height: 1;
        z-index: 0;
        color: var(--theme);
        opacity: 0.5;
      }
    }

    code, 
    pre {
      font-family: var(--monospace) !important;
    }

    code {
      font-size: 1.1rem;
    }

    h1 {
      font-size: 2.4rem;
      line-height: 1.3;
      margin-top: 0;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 0;

      .link {
        color: black;
        cursor: pointer;
        font-size: 1.2rem;
        opacity: 0;
        transition:
          color 0.1s ease-in-out,
          opacity 0.1s ease-in-out;

        &:hover {
          color: var(--theme);
        }
      }

      &:hover {
        .link {
          opacity: 1;
        }
      }
    }

    img {
      max-width: 100%;
      display: block;
    }

    li {
      margin: 0.5rem;

      p {
        margin: 0 !important;
      }
    }

    > p {
      text-indent: 0.995rem;
    }
  }
}

// More broadly, the aside on the right.
#toc {
  font-family: var(--sans-serif);
  padding: 2rem;
  text-align: right;

  h2 {
    margin-top: 0;
  }
}

